$color-one: #49306b;
$color-two: #635380;
$color-three: #90708c;
$color-four: #ace4aa;
$color-five: #e1cdb5;
$font-base-size: 18px;
$font-grow-size: 6px;
$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$border-radius: 15px;
